build-pages:
  image: node:16
  stage: build
  cache:
    paths:
      - node_modules/
  script:
    - npm install
    - npm run docs:build
  artifacts:
    expose_as: 'REST Documentation'
    paths:
      - public
  variables:
    BUILD_DIR: $CI_COMMIT_BRANCH
    BASE_PATH: "/"
  except:
    - master
deploy_staging:
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  stage: deploy
  environment:
    name: staging
    url: https://staging.documentation.liquidinstruments.com
  script:
    - aws s3 cp public/$CI_COMMIT_BRANCH/ s3://$S3_BUCKET_NAME --recursive
  only:
    - next
