$accentColor = #48b8e7
$textColor = #001E2F
$borderColor = #eaecef
$codeBgColor = $textColor
$background = #FCFCFC

$sidebarWidth = 20em
$maxWidth = 1280px
$maxWidthPara = 600px
$headerHeight = 57.5938px

$grad-color-1 = rgba(63, 220, 145, 0.5);
$grad-color-2 = rgba(66, 158, 219, 1);
$grad-color-3 = rgba(0, 126, 180, 0.7);
$gradientBlob = linear-gradient(90deg, $grad-color-1 0%, $grad-color-2 36.46%, $grad-color-3 76.56%, $grad-color-2 100%);

$gradientBlob2 = linear-gradient(-180deg, $grad-color-1 0%, $grad-color-2 36.46%, $grad-color-3 76.56%, $grad-color-2 100%);

