$accentColor = #48b8e7
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

$sidebarWidth = 25em

body 
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;

.theme-code-group
    margin-top: 1.5em;

div[class^="language-"]::before
	content: '';

.site-name.can-hide    
    display:none;

.badge-sidebar
	font-size: 1em;
	font-weight: 600;
	display: inline-block;
	margin: 0.35rem;
	align-self:center;
	box-sizing: border-box;

// Override some of the styling in the default theme, the original
// opacity of subgroups was 0.5 and hard to read.
.sidebar-group
  &.is-sub-group
    & > .sidebar-heading
      &:not(.clickable)
        opacity 0.9

// Pages can specify pageClass: wide-page in their frontmatter to format
// better for large code examples and the like, as opposed to scannable text
.theme-container.wide-page
  main
    div.content__default,
    footer.page-edit,
    div.page-nav
      max-width: 80%
